html {
  font-size: 14px;
}

body {
    background-color: #002855;
}

.bar {
    background-color: #EAAA00;
    overflow: hidden;
}

.bar a {

    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.bar a:hover {
    background-color: #F7F7F7;
    color: dimgrey;
}



.table-style {
    border: 4px solid #EAAA00;
    border-style: solid;
    color: #F7F7F7;
    padding: 5px;
    text-align: center;
}

.list-header {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

li {
    display: inline-block;
    margin-right: 0px;
    box-sizing: inherit;
}

th, td {
    border: 4px solid #EAAA00;
    padding: 5px;
}


h1, h2, h3, h4, h5, h6, p {
    color: #F7F7F7;
    text-align: center;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

