@page
@model TruckingProject.Pages.SignUpModel
@{
}

<div class="bar">
    <a href="Index" style="float:left">Home</a>
    <a href="RoutePlanner" style="float:left">Route Planner</a>
    <a href="#" style="float:left">NOAA Data</a>
    <a href="SignUp" style="float:left">Sign up for updates!</a>
    <input type="text" style="float:right" placeholder="Search" />
</div>


<div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="email" placeholder="Enter your e-mail to get updates on truckin!" name="email">
    <label for="email">Enter your e-mail to get updates on truckin!</label>
</div>

<button class="btn btn-light">Submit</button>
